@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .cabin_sketch {
    font-family: var(--font-cabin-sketch);
  }

  .sketch_border {
    background: transparent;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 3px #41403e;
  }

  .sketch_btn {
    background-color: #212121;
    border-color: var(--foreground);
    color: var(--foreground);
  }

  .reactPlayer {
    border: 5px solid black;
    border-bottom: none;
    background-color: #212121;
  }

  .timestamp {
    background-color: #212121;
    padding: 0 10px;
    border-color: var(--foreground);
    color: var(--foreground);
    border-radius: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15 23 42 / 1);
    --foreground: #ededed;
  }
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, #0ea5e9, #9333ea, #f43f5e, #f59e0b);
  background-size: 300% 300%;
  animation: gradient-bg 8s ease infinite;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background);  */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
